* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("bandeiraucrania.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.page-login {
    background-color: #0176fce6;
    width: 300px;
    margin: 200px auto;
    text-align: center;
    padding: 20px;
    color: #eed704;
    border-radius: 15px;
}

.corpo-login {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}

.btn-login {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    color: black;
    background-color: #eed704;
}